DATABASE_URL=                 # The url of the database
JWT_SECRET=                   # The private key used to sign JWTs
SHOPIFY_API_KEY=              # Spotify app client id
SHOPIFY_API_SECRET=           # Spotify app client secret